body {
  background-image: url("images.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.form-container {
  text-align: center;
}
.button {
  display: block;
  width: 150px;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.submit-button {
  background-color: green;
  color: black;
}

.cancel-button {
  background-color: red;
  color: black;
}

.create-account-button {
  background-color: yellow;
  color: black;
}

.form-container {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

input[type="text"],
input[type="password"] {
  width: 200px;
  height: 40px;
  margin-bottom: 15px;
  padding: 0 10px;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 2em;
}

table {
  font-size: 1.2em;
}

th, td {
  padding: 0.5em;
  text-align: center;
}