<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
  </head>
  <body>
    <div class="form-container">
      <form action="/login" method="post">
        <h2 style="font-size: 36px;">Login</h2>
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit" class="button submit-button">Submit</button>
        <button type="reset" class="button cancel-button">Cancel</button>
      </form>
      <a href="{{ url_for('register') }}" class="button create-account-button">Create Account</a>
    </div>
  </body>
</html>